* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: 'Poppins', sans-serif;
  }
  
  .container {
    max-width: 960px;
    margin: 0 auto;
    padding: 2rem;
  }
  
  .logo {
    margin-bottom: 2rem;
    margin-left: 16.5rem;
  }

  fieldset{
    margin-bottom: 1rem;
  }

  legend{
    font-size: 25px;
  
    
  }

  .form-group{
    margin-top: 1rem;
    margin-left: 2rem;
  }

  .step {
    display: none;
    }
    
    .step.active {
    display: block;
    }
    
    /* Style para o botão "Próximo" */
    button {
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 8.07781px;
    padding: 1rem;
    margin-top: 2rem;
    background-color: #2C053B;
    box-shadow: 0px 12.1167px 24.2334px rgba(1, 11, 253, 0.12);
    cursor: pointer;
    transition: background-color 0.3s ease;
    }
    
    button:hover {
    background-color: #500676;
    }
    
    /* Estilo para a barra de progresso */
    .progress-bar {
    height: 10px;
    background-color: #ddd;
    border-radius: 8px;
    margin-bottom: 2rem;
    position: relative;
    }
    
    .progress-bar-fill {
    height: 100%;
    background-color: #2C053B;
    border-radius: 8px;
    position: absolute;
    left: 0;
    top: 0;
    }

    select {
      width: 429.13px;
    height: 50.49px;
    margin-bottom: 2rem;
    padding: 0.5rem;
    border-radius: 8.07781px;
    background-color: #EEEEEE;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16.1556px;
    line-height: 24px;
    }
    
    /* Estilo para os inputs */
    input[type="text"],
    input[type="email"],
    input[type="tel"],
    input[type="date"] {
    width: 429.13px;
    height: 50.49px;
    margin-bottom: 2rem;
    padding: 0.5rem;
    border-radius: 8.07781px;
    border: none;
    background-color: #EEEEEE;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16.1556px;
    line-height: 24px;
    }
    
    input[type="radio"] {
    margin-right: 1rem;
    }
    
    /* Estilo para os labels */
    label {
    display: block;
    margin-bottom: 1rem;
    font-size: 1.2rem;
    }
    
    /* Estilo para o título das seções */
    .title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 2rem;
    }
    
    /* Estilo para a mensagem de erro */
    .error {
    color: red;
    font-size: 0.8rem;
    margin-bottom: 1rem;
    }
    
    /* Estilo para a coluna do formulário */
    .form-column {
    float: left;
    width: 50%;
    }
    
    .clearfix::after {
    content: "";
    clear: both;
    display: table;
    }
    
    /* Estilo para o botão de envio */
    .submit-button {
    display: block;
    margin: 0 auto;
    }
    
    /* Estilo para a mensagem de sucesso */
    .success-message {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    margin-top: 2rem;
    }