:root {
  --red: #ce1051;
  --btn-hover: #f03c7b;
  --white: #fff;
  --ice: #ccc;
  --body: #efefef;
  --background-modal: #f0f2f5;
  --dark: #1e1c2a;
  --theme: #2c053b;
  --theme-dark: #1b0c2f;
  --gap: 3rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  list-style: none;
  text-decoration: none;
}

body {
  background-color: var(--body);
}

legend {
  font-weight: bold;
  font-size: 24px;
  text-align: center;
  color: var(--theme);
  margin: 30px 0 0 0;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
  animation: fromLeft 1.2s;
}

.logo img {
  display: flex;
  align-items: center;
  width: 25%;
}

.div-back #back {
  display: flex;
  position: fixed;
  margin-top: 28px;
  margin-left: 50px;
}

#back {
  width: 0;
  display: flex;
  justify-content: start;
  color: var(--theme);
  font-size: 2.2rem;
  font-weight: bold;
}

.container {
  max-width: 650px;
  margin: 0 auto;
  width: 90%;
}

.form-content {
  display: flex;
  flex-direction: column;
}

form {
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0.1rem 0.5rem var(--ice);
  padding: 34px;
  display: flex;
  flex-direction: column;
}

fieldset {
  border: none;
}

.fieldset-wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--gap-min);
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  margin: 60px 0;
}

label {
  color: var(--theme);
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 8px;
  text-align: center;
}

.input-wrapper input {
  background: #fafafc;
  border: 1px solid #e6e6f0;
  border-radius: 10px;
  height: 56px;
  padding: 0 15px;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  color: #4e4958;
  margin-top: 10px;
}

.btn {
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  border-radius: 10px;
  height: 56px;
  width: 100%;
  display: flex;
  justify-content: center;
  color: #ffffff;
  background: var(--red);
  border: none;
  cursor: pointer;
  transition: all 0.3s;
}

.btn:hover {
  background: var(--btn-hover);
}

@keyframes fromLeft {
  from {
    opacity: 0;
    transform: translateX(200px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fromTop {
  from {
    transform: translateY(-200px);
  }

  to {
    transform: translateY(0);
  }
}

#box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

#box a {
  text-decoration: none;
  display: flex;
  align-self: self-start;
}

#back-icon {
  font-size: 2rem;
}

#box p {
  color: #2c053b;
  font-weight: bold;
  font-size: 1.2rem;
}

.btn:disabled {
  opacity: 0.4;
  cursor: default;
}

.btn:disabled:hover {
  background-color: var(--red);
  color: var(--white);
}

.emailSent {
  color: #555;
  font-weight: bold;
  text-align: center;
  line-height: 33px;
  font-size: 1.1rem;
}

#done-icon {
  font-size: 4rem;
  color: rgb(3, 151, 3);
  font-weight: bold;
}

.access a {
  color: var(--red);
  font-weight: 600;
  text-decoration: none;
  font-size: 0.9rem;
  transition: 0.2s;
}

.access a:hover {
  text-decoration: none;
  color: var(--theme);
}

@media (max-width: 876px) {
  #back {
    font-size: 1.6rem;
  }

  footer p {
    font-size: 12px;
  }
}
