.head{
    background-color: var(--background-modal);
    width: auto;
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 64px;
    box-shadow: 0 0.1rem 0.5rem var(--ice);
}
.profile{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.head p{
    font-size: 24px;
    font-weight: 700;
    color: var(--red);
}
.head img{
    width: 104px; 
}
.inputQuestions{
    background-color: var(--ice);
    width: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 48px;
    border-radius: 24px;
    padding: 8px;
}
.inputQuestions input{
    border: none;
    background-color: var(--ice);
    height: 80%;
    width: 75%;
    color: var(--red);
}
.inputQuestions input::placeholder{
    color: var(--red);
    font-size: 16px;
}
.inputQuestions input:focus{
    border: 0 none;
    box-shadow: none;
    outline: none;
}
.body{
    display: flex;
    flex-direction: row;
}
.body .container{
    width: 100%;
    height:100%;
    margin: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cardTransfer{
    background-color: var(--red);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 1em 0;
    border-radius: 0.4em;
    padding: 0.4em 0;
    box-shadow: 0 0.1rem 0.5rem var(--ice);
}
.cardTransfer:hover{
    background-color: var(--theme);
    transform: translate(-10px, -5px)
}
.cardTransfer section{
    margin: 0.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}
.cardTransfer p {
    font-family: 'Poppins' sans-serif;
    color: #fff;
    margin: 0 0.5em;
}
.realBalance{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1em 0;
}
.realBalance span{
    color: #0ead00;
    margin: 0 1em;
}
.realBalance h1{
    color: var(--theme);
    font-size: 64px;
    margin: 0;
    padding: 0;
}
.realBalance p{
    color: var(--theme);
    font-weight: 500;
    margin: 0;
    padding: 0;
}
.balanceDetails{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 1em 0;
}
.balanceDetails p{
    font-size: 16px;
    font-weight: 900;
    color: var(--red);
    margin: 0;
    padding: 0;
}
.lastTransfer{
    width: 100%;
    height: 100%;
    margin: 1em 0;
}
.lastTransfer section{
    background-color: var(--backCard);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: var(--theme);
    padding: 0.5em 0.3em;
    box-shadow: 0 0.2em 0.5rem #555;
    border-radius: 0.5em;
    margin: 0.4em 0;
}
.lastTransfer h3{
    color: var(--theme);
    font-weight: 600;
}
.lastTransfer h4{
    color: var(--theme);
    font-weight: 600;
    padding: 0.4em;
}
.lastTransfer p{
    color: var(--theme);
    font-size: 12px;
    font-weight: 300;
    margin: 0.3em;
}
.footerTransfer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.footerTransfer h3 {
    color: var(--theme);
    font-size: 24px;
    font-weight: 700;
    margin: 1em;
}
.footerTransfer:hover{
    background-color: var(--backCard);
    border-radius: 1em;
    box-shadow: 0 0.2em 0.5rem var(--red);
    padding: 0 2em 0 2em;
    transform: translate(5px, 5px);
}
.sideCard{
    height: 100%;
    width: 100%;
    margin: 0.5em 0;
}
.sideCard h2{
    margin: 0.5em 0;
    color: var(--theme);
    font-weight: 800;
    font-size: 32px;
}
.sideCard section{
    background-color: var(--backCard);
    box-shadow: 0 0.1rem 0.5rem var(--ice);
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 1em;
}
.sideCard section h1{
    margin: 1em 0;
    color: var(--theme);
    font-size: 32px;
}
.sideCard section p, h3{
    color: var(--theme);
}
.sideCard section p span{
    font-weight: 700;
}
.sideCard section:hover{
    transform: translate(5px, 5px);
}